#home-categories {
  margin-top: 40px;

  .list-categories {
    h3 {
      margin-bottom: 10px;
      strong {
        color: $second-color;
      }
    }

    li {
      align-items: center !important;
      span {
        cursor: pointer;
        font-size: 1rem;
        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
}
