#sign-in-siginform {
  height: 100vh;
  display: flex;
  align-items: center;

  .card {
    border: none;
    border-radius: 0;
    width: 85% !important;
    margin: 0 auto;
    border-radius: 10px;
  }

  .signup {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px 50px;
  }

  a {
    text-decoration: none !important;
  }

  h5 {
    color: $first-color;
    margin-bottom: 3px;
    font-weight: bold;
  }

  small {
    color: rgba(0, 0, 0, 0.3);
  }

  input {
    width: 100%;
    display: block;
  }

  .form-control {
    border: 1px solid $second-color;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.075);
    letter-spacing: 1px;
  }

  .form-control:focus {
    border: 0.5px solid $first-color;
    border-radius: 30px;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.075);
    color: #000;
    letter-spacing: 1px;
  }

  .btn {
    display: block;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: -webkit-linear-gradient(
      left,
      $first-color 0%,
      $second-color 100%
    );

    &:hover{
      cursor: pointer;
      transition: $transition-time;
      background: -webkit-linear-gradient(
        left,
        $second-color 0%,
        $first-color 100%
      );
      border: 1px solid black;
    }
  }

  .text-left {
    color: rgba(0, 0, 0, 0.3);
    font-weight: 400;
  }

  .text-right {
    color: #ff0147;
    font-weight: bold;
  }

  span.text-center {
    color: rgba(0, 0, 0, 0.3);
  }

  .fab {
    padding: 15px;
    font-size: 23px;
  }

  .forgot {
    .sign-text {
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
      color: black;

      &:hover {
        cursor: pointer;
        color: $second-color;
        transition: $transition-time;
      }
    }
  }
}
